.row {
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.card-image {
  margin-top: 10%;
  margin-left: 15%;
  border-radius: 50%;
  width: 50vh;
  height: 50vh;
  object-fit: cover;
  border: #ffffff;
  border: 3px solid rgb(147, 179, 4);
}

.card-text {
  align-items: flex-start;
  font-weight: bolder;
  color: #ffffff;
  font-size: 7vh;
}

.description {
  color: #7d7d7d;
  font-size: 3.5vh;
}

/* Fullstack developer animation */
.developer {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, rgb(147, 179, 4), #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 4s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

/* CV_button */

.wrapper {
  margin-top: 5%;
}

a {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

a span {
  position: relative;
  z-index: 2;
}

a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(147, 179, 4);
  transition: all 0.35s;
}

a:hover {
  color: #fff;
}

a:hover:after {
  width: 100%;
}
